<div class="container">
    <div class="row">
       
        <!--<nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="main">Crop Information Form</a>
            </div>
            
            <ul class="nav navbar-nav">
                <li><a ui-sref="sabio.form">Go to form</a></li>
            </ul>
        </nav>-->
        
        <div ui-view="content"></div>
        <div ui-view="formcontent"></div>
    </div>
</div>
