<div ui-view="app.graph">


</div>
<div id="myDiv" style="width:100%;height:500px;">
    <h3>Text Updates:</h3>
    <ul>
    <li>12 in. precipitation this week, Casablanca-Settat region, 03/01/17</li>
<li>10 in. precipitation this week, fed-Meknes region, 03/14/17</li>
<li>13 in. precipitation this week, fed-Meknes region, 02/22/17</li>
<li>16 in. precipitation this week, oriental region, 01/20/17</li>

[1:29]  
<li>3 in. precipitation this week, Beni Mellal-Khenifra Region</li>

<li>new messages</li>
[1:32]  
<li>6 in. precipitation this week, Oriental Region, 2/12/17</li>
<li>0 in. precipitation this week, Tanger-Tetouan-Al Hoceima Region, 3/1/17</li>
<li>0 in. precipitation last 2 weeks, Tanger-Tetouan-Al Hoceima Region., 2/20/17</li>
<li>2 in. precipitation last week, Oriental Region, 1/12/17</li>
<li>1 in. precipitation last week, Beni Mellal-Khenifra Region, 2/12/17</li>
</ul>
</div>
<div>
    
</div>





